body{
    background-color: rgb(56, 56, 56);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao{
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    background-color: rgb(86, 53, 148);
    border-radius: 20px;
}

#p1{

    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

#imagem {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}

#botao_central{
    color: aqua;
    padding: 10px 20px;
    background-color: rgb(40, 40, 40);
    border: 1px solid aqua;
    border-radius: 5px;
}